@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => isSidebarExpanded = !isSidebarExpanded)" />
            <RadzenLabel Text="داشبورد" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@isSidebarExpanded">
        <RadzenPanelMenu Multiple="false">
            <RadzenPanelMenuItem Text="خانه" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="شمارنده" Icon="counter_1" Path="/counter" />
            <RadzenPanelMenuItem Text="آب و هوا" Icon="weather_mix" Path="/weather" />
            <RadzenPanelMenuItem Text="احراز هویت" Icon="account_box" Path="/auth" />
            <RadzenPanelMenuItem Text="مدیریت کاربران" Icon="account_box">
                <RadzenPanelMenuItem Text="لیست کاربران" Path="/Admin/Users" Icon="group"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="لیست نقش ها" Path="/roles" Icon="policy"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="اطلاعات پایه" Icon="home">
                <RadzenPanelMenuItem Text="کشورها" Path="/Admin/Countries" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="استان ها" Path="/Admin/Provinces" Icon="line_weight"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="شهرها" Path="/Admin/Cities" Icon="line_weight"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
        <div class="rz-p-4">
            Sidebar
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        &copy; @year تمامی حقوق محفوظ است.
    </RadzenFooter>
</RadzenLayout>

@code {
    bool isSidebarExpanded = true;
    string year = new System.Globalization.PersianCalendar().GetYear(DateTime.Now).ToString();
}
