@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow>
            <RadzenColumn Size="6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="rz-p-sm-2">
                    <RadzenMenu>
                        <RadzenMenuItem Text="خانه" Path="/" Icon="home"></RadzenMenuItem>
                        <RadzenMenuItem Text="شمارنده" Path="/counter" Icon="counter_1"></RadzenMenuItem>
                        <RadzenMenuItem Text="آب و هوا" Path="/weather" Icon="weather_mix"></RadzenMenuItem>
                    </RadzenMenu>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" JustifyContent="JustifyContent.End" class="rz-p-sm-2">
                    <RadzenMenu>
                        <AuthorizeView>
                            <NotAuthorized>
                                <RadzenMenuItem Text="ثبت نام" Path="/Account/Register" Icon="how_to_reg"></RadzenMenuItem>
                                <RadzenMenuItem Text="ورود" Path="/Account/Login" Icon="login"></RadzenMenuItem>
                            </NotAuthorized>
                            <Authorized>
                                <RadzenMenuItem Text="پنل مدیریت" Path="/Admin/Dashboard" Icon="dashboard"></RadzenMenuItem>
                                <RadzenMenuItem Text="خروج" Path=@($"/Account/LogOut?returnUrl={currentUrl}") Icon="logout"></RadzenMenuItem>
                            </Authorized>
                        </AuthorizeView>
                    </RadzenMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter Style="text-align: center">
        &copy; @year تمامی حقوق محفوظ است.
    </RadzenFooter>
</RadzenLayout>

@code {
    string year = new System.Globalization.PersianCalendar().GetYear(DateTime.Now).ToString();
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
