@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow>
            <RadzenColumn Size="6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="rz-p-sm-2">
                    <RadzenMenu>
                        <RadzenMenuItem Text="خانه" Path="/" Icon="home"></RadzenMenuItem>
                        <RadzenMenuItem Text="شمارنده" Path="/counter" Icon="counter_1"></RadzenMenuItem>
                        <RadzenMenuItem Text="آب و هوا" Path="/weather" Icon="weather_mix"></RadzenMenuItem>
                    </RadzenMenu>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" JustifyContent="JustifyContent.End" class="rz-p-sm-2">
                    <RadzenMenu>
                        <RadzenMenuItem Text="ثبت نام" Path="/auth" Icon="account_box"></RadzenMenuItem>
                        <RadzenMenuItem Text="ورود" Path="/auth" Icon="account_box"></RadzenMenuItem>
                    </RadzenMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

    </RadzenHeader>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter Style="text-align: center">
        &copy; @year تمامی حقوق محفوظ است.
    </RadzenFooter>
</RadzenLayout>

@code {
    string year = new System.Globalization.PersianCalendar().GetYear(DateTime.Now).ToString();
}
